@import-normalize;
@import url("https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  --black: #030303;
  --black95: #030303f0;
  --black90: #030303ee;
  --black75: #030303af;
  --black60: #030303a0;
  --black50: #03030385;
  --black25: #03030350;
  --black10: #03030320;
  --dark: #12181b;
  --grey-950: #151718;
  --grey-900: #1d2021;
  --grey-850: #222325;
  --grey-800: #2f3234;
  --grey-700: #36393a;
  --grey-600: #424748;
  --grey-500: #5d6263;
  --grey-400: #6b6f71;
  --grey-300: #737779;
  --grey-200: #9aa0a4;
  --grey-100: #b2b7bb;
  --grey-50: #cacfd3;
  --light: #eeeeee;
  --white: #fefefe;

  --red: hsl(348, 100%, 61%);
  --blue: #498afb;
  --light-blue: #00d9ff;
  --orange: #fa8142;
  --green: #09c372;
  --light-green: #22da6b;
  --purple: hsl(265, 50%, 60%);
  --yellow: hsl(53, 100%, 60%);
  --pink: #ff4088;
  --shadow: var(--black75) 3px 5px 10px;
  --border-radius: 5px;
  --font-primary: "Montserrat";
  --code-font: "Fira Code";
  --code-font-variant: "Fira Code VF";
  --code-bg: #1f2127;
  --filename: #23262d;
  --shadow: #03030350 1px 1px 15px;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--dark);
  font-family: "Montserrat";
  height: 100%;
}

h1 {
  margin: 1rem auto 1rem 0.5rem;
  text-align: left;
  font-size: 2rem;
  color: var(--grey-100);
  font-family: var(--font-primary);
}

h3 {
  margin: 1rem auto 1rem 0.25rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--grey-200);
  font-family: var(--font-primary);
}

a {
  margin: 0.25rem auto 0.25rem 0.25rem;
  background: transparent;
  border: 0;
  outline: none;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ff4088;
  font-family: "Montserrat";
  word-wrap: normal;
  cursor: default;
}

a:hover {
  cursor: default;
  text-decoration: none;
}

.pre {
  display: flex;
  padding: 0 0.5rem;
  margin: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.code {
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
  margin: 0 auto 0.5rem auto;
  font-family: var(--code-font);
  font-size: 80%;
  font-weight: 500;
  line-height: 150%;
  overflow-wrap: normal;
  border-radius: 3px;
  border-top-left-radius: 0;
  box-shadow: 2px 2px 16px #03030390;
  background: var(--code-bg);
  overflow-x: scroll;
}

.code-block {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 1rem auto;
  flex-direction: column;
  align-items: flex-start;
}

.filename {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  margin: 0.25rem auto 0 0.5rem;
  background: var(--filename);
  border-radius: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 1px 1px 12px #030303aa;
}

.filename h5 {
  margin: auto;
  padding: 0 0.25rem 0 1rem;
  color: var(--grey-100);
  font-family: var(--code-font);
  font-size: 100%;
  font-weight: 600;
  letter-spacing: 0;
}

.react {
  color: var(--light-blue);
  margin: auto;
}

.back-arrow {
  margin: auto 1rem auto 0;
  color: #fa8142;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.component-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 2rem auto 2rem 0.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.links,
.links a {
  margin: 0.25rem auto 0.5rem 0.5rem;
  font-family: "Monsterrat";
  color: var(--pink);
  background: none;
}

.rotation {
  animation: rotation 1.2s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
    font-family: var(--font-primary);
  }
  h3 {
    font-size: 1.75rem;
    font-family: var(--font-primary);
  }
  a {
    font-size: 1.25 rem;
    font-family: var(--font-primary);
    cursor: pointer;
  }

  a:hover {
    cursor: pointer;
  }

  .pre {
    padding: 0 0.5rem;
  }

  .code {
    padding: 1rem;
    font-size: 1.25rem;
    overflow-x: hidden;
  }

  .back-arrow {
    font-size: 2rem;
  }
}
